---
import GitHub from "components/icons/GitHub.astro";
---

<a
  href="https://github.com/mrcaidev/tailwindcss-radix-colors"
  target="_blank"
  rel="noreferrer"
  class="p-2 rounded hover:bg-gray-4 dark:hover:bg-graydark-4 active:bg-gray-5 dark:active:bg-graydark-5"
>
  <GitHub />
  <span class="sr-only">View source code on GitHub</span>
</a>
